:root { 
--gray_700:#585858; 
--gray_400:#c9c9c9; 
--gray_500:#999999; 
--blue_gray_400:#878787; 
--red_900:#c11e1e; 
--deep_orange_300_01:#ff7262; 
--gray_900:#1a1a1a; 
--light_blue_400:#1abcfe; 
--gray_300:#e1e1e1; 
--green_A400:#0acf83; 
--black_900:#000000; 
--deep_orange_600:#f24e1e; 
--deep_orange_300:#ff8f50; 
--deep_purple_A100:#9c83ff; 
--deep_purple_A200:#a259ff; 
--white_A700:#ffffff; 
}